*{
    padding: 0;
    margin: 0;
}
.left{
 padding: 34px;
    width: 25vw;
}

.right{
    border: 2px solid red;
    width: 75vw;
    height: 50px;
}

.home ul li{
    width: 34px;
    list-style: none;
    display: flex;
gap: 3px;
}