@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    color: white
    ;
}
.logo img{
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    padding: 10px;
    width: 25vw;
    
}

.right {
    width: 75vw;
margin: 16px 0;    
}

.home ul li {
    width: 34px;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: bold;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    padding: 23px 14px;
    padding-top: 14px;


}

.heading img {
    width: 30px;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0px;
}

.footer a {
    color: grey;
}


.library{
    position: relative;
    min-height: 80vh;
}



.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;

}

.playlists{
    padding: 16px;
 
}

.cardcontainer{
    display: flex;
margin: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.card{
position:relative;
    width: 200px;
    height: 290px;
    padding: 9px;
    border-radius: 5px;
    background-color: #252525;
}

.card > *{
padding-top: 5px;
}

.card img{
    width: 100%;
    height: 220px;

    object-fit: cover;
}
.play {
    width: 32px;
    height: 34px;
    background-color: #1fdf64;
    border-radius: 59%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 182px;
    right: 17px;
}