@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    color: white;
    overflow: hidden;
}
.logo img{
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    padding: 10px;
    width: 25vw;
    
}

.right {
    width: 75vw;
margin: 0;    
height: 100vh;
}

.home ul li {
    width: 34px;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: bold;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    padding: 23px 14px;
    padding-top: 14px;


}

.heading img {
    width: 30px;
}



.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0px;
    padding: 42px 0;
}

.footer a {
    color: grey;
}


.library{
    position: relative;
    min-height: 80vh;
}



.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 83px;
}

.header > *{
    padding: 20px;

}

.playlists{
    padding: 16px;
 
}

.cardcontainer{
    display: flex;
margin: 30px;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: auto;
     max-height:70vh;
position: relative;}

.card{
position:relative;
    width: 200px;
    height: 290px;
    padding: 9px;
    border-radius: 5px;
    background-color: #252525;
}

.card > *{
padding-top: 5px;
}

.card img{
    width: 100%;
    height: 220px;

    object-fit: cover;
    object-position: 3px -15px;
}


.play {
    width: 32px;
    height: 34px;
    background-color: #1fdf64;
    border-radius: 59%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 230px;
    right: 17px;
    opacity: 0;
    transition:all 0.25s ease-in-out;
}

.card:hover .play{
    transform: translateX(0vw) translateY(-6vh);
    opacity: 1;
}



.signupbtn{
background-color: rgb(34, 34, 34);
color: rgb(156, 148, 148);
font-weight: bold;
border: none;
outline: none;
cursor: pointer;
font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
background-color: white;
border-radius: 21px;
color: black;
padding: 10px;
width: 79px;
cursor: pointer;
font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(6, 44, 6);
    padding: 12px;
}






