@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: black;
    color: white;
    overflow: hidden;
}
.logo img{
    height: 50px;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.left {
    padding: 10px;
    width: 25vw;
    
}

.right {
    width: 75vw;
margin: 0;    
height: 100vh;
}

.home ul li {
    width: 34px;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: bold;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    padding: 23px 14px;
    padding-top: 14px;


}

.heading img {
    width: 30px;
}



.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0px;
    padding: 42px 0;
}

.footer a {
    color: grey;
}


.library{
    position: relative;
    min-height: 80vh;
}



.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 83px;
}

.header > *{
    padding: 20px;

}

.playlists{
    padding: 16px;
 
}

.cardcontainer{
    display: flex;
margin: 30px;
    gap: 15px;
    flex-wrap: wrap;
    overflow-y: auto;
     max-height:70vh;
position: relative;}

.card{
position:relative;
    width: 200px;
    height: 290px;
    padding: 9px;
    border-radius: 5px;
    background-color: #252525;
}

.card > *{
padding-top: 5px;
}

.card img{
    width: 100%;
    height: 220px;

    object-fit: cover;
    object-position: 3px -15px;
}


.play {
    width: 32px;
    height: 34px;
    background-color: #1fdf64;
    border-radius: 59%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 230px;
    right: 17px;
    opacity: 0;
    transition:all 0.25s ease-in-out;
}

.card:hover .play{
    transform: translateX(0vw) translateY(-6vh);
    opacity: 1;
}



.signupbtn{
background-color: rgb(34, 34, 34);
color: rgb(156, 148, 148);
font-weight: bold;
border: none;
outline: none;
cursor: pointer;
font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
background-color: white;
border-radius: 21px;
color: black;
padding: 10px;
width: 79px;
cursor: pointer;
font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position: fixed;
    bottom: 10px;
    width:71%;
    background-color: #dad5d5;
    border-radius: 30px;
    filter: invert(1);
    padding: 12px;
    
  
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;  
}



.listsongs ul{
    padding: 0px 12px;
    
}

.listsongs ul li { 
    justify-content: space-between;   
    list-style-type: decimal;   
display: flex;
gap: 10px;
cursor: pointer;
padding:12px 0px;
margin: 13px 0px;
border-radius: 4px;
padding: 15px;
border: 1px solid white;
color: #F9A602;
}
.playmusic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playmusic span{
    font-size: 13px;
    padding: 12px;
    width: 64px;
}

.listsongs .info{
    font-size: 14px;
    width: 344px;
}

.listsongs{
    height: 443px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 44px;
}


.seekbar{
    border: 1px solid red;
    width: 98%;
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: red;
    cursor: pointer;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 32px;
    background-color: black;
    position: relative;
    bottom: 8px;
    left: 0%;
    transition: left 0.7s;
}

.songbuttons img{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

.songtime{
    color: black;
}


@media (max-width:1400px){
      .left{
        background-color: red;
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 233px;
      }
      .right{
        width: 100%;
      }
.playbar{
    width: 96%;
}

}