.border{                                                  

margin: 3px;
}
.flex{
    display: flex;                        

}

.items-center{
    align-items: center;
}


.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color:white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* width of scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #0f0f0f;
}

/* scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
