.border{                                                  

margin: 3px;
}
.flex{
    display: flex;                        

}

.items-center{
    align-items: center;
}


.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color:black;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 8px;
}

